body {
  background-color: #f0f0f0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  /* text-align: center; */
  font-weight: bolder;
}

textarea {
  overflow: visible !important;
}